<template name="storyCurrent">
  
  <div class="countdown">Only {{daysLeft}} days left!</div>
  <div id="story">{{words}}</div>

  <br/>
  <button class="buttonDelete">Delete all stories</button>
  <button class="buttonCreate">Create a new story (TEMP)</button>
  <p>There are currently {{counter}} stories.</p>

  <h2>Add more!</h2>
  <form class="storyAddition">
	  <textarea name="addition" rows="10" cols="40"></textarea>
	  <input id="buttonNewline" type="checkbox" value="Add on a new line">Add on a new line <br>
	  <input class="buttonSubmit" type="submit" value="Submit It">
  </form>
</template>