<template name="storyCurrent">
  <h2>Current Story</h2>
  <div class="countdown">Only {{daysLeft}} days left!</div>

  <br/>

  <div id="story">{{words}}</div>

  <br/>
  <button class="buttonDelete">Delete all stories</button>
  <button class="buttonCreate">Create a new story (TEMP)</button>

  <div class="adder">
    <h3>Add more!</h3>
    <form class="storyAddition">
  	  <textarea maxlength="1000" name="addition"></textarea>
      <div class="checkbox">
        <input id="buttonNewline" type="checkbox" name="check" value="Add on a new line">
        <label for="buttonNewline">Add on a new line</label>
      </div>
  	  <input class="buttonSubmit" type="submit" value="Submit It">
    </form>
  </div>
</template>